# Zatrzymanie buforowania HTML (Apache)
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 0 seconds"
</IfModule>

# Zatrzymanie agresywnego buforowania (GetSpace / LiteSpeed)
<IfModule LiteSpeed>
    CacheDisable public /
    CacheDisable private /
    RewriteEngine On
    RewriteRule \.(html|htm)$ - [E=Cache-Control:no-cache]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(html|htm)$">
        Header unset ETag
        Header unset Cache-Control
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
    </FilesMatch>
</IfModule>

FileETag None
